*.gz
*.aux
*.log
*.pdf
!/01-EtudeAeronefs/img/*/*/*.pdf
!/01-EtudeAeronefs/img/*/*.pdf
*.bbl
*.bcf
*.blg
*.glo
*.idx
*.ist
*.lof
*.out
*.run.xml
*.glg
*.gls
*.lot
*.toc
*.dpth
*.md5
*.auxlock
*.toc
*.synctex(busy)
*.glsdefs
