*.gz
*.aux
*.log
*.pdf
!/01-EtudeAeronefs/img/*/*/*.pdf
!/01-EtudeAeronefs/img/*/*.pdf
!/01-EtudeAeronefs/img/*.pdf
!/02-Navigation/img/*/*/*.pdf
!/02-Navigation/img/*/*.pdf
!/02-Navigation/img/*.pdf
!/03-Meteo/img/*/*/*.pdf
!/03-Meteo/img/*/*.pdf
!/03-Meteo/img/*.pdf
!/04-Aerodynamique/img/*/*/*.pdf
!/04-Aerodynamique/img/*/*.pdf
!/04-Aerodynamique/img/*.pdf
!/05-Histoire/img/*/*/*.pdf
!/05-Histoire/img/*/*.pdf
!/05-Histoire/img/*.pdf
!/Annexes/img/*/*/*.pdf
!/Annexes/img/*/*.pdf
!/Annexes/img/*.pdf
!/imgPresentations/*.pdf
!/commun/img/*.pdf
*.bbl
*.bcf
*.blg
*.glo
*.idx
*.ist
*.lof
*.out
*.run.xml
*.glg
*.gls
*.lot
*.toc
*.dpth
*.md5
*.auxlock
*.toc
*.synctex(busy)
*.glsdefs
*.fdb_latexmk
*.fls
*.ilg
*.ind
*.nav
*.snm
*.tdn
01-EtudeAeronefs/img/Cycle4Temps/0-MoteurAnime_doc.pdf
01-EtudeAeronefs/img/Cycle4Temps/cycle4temps_doc.pdf
*.tlg
*.tld
# Temporary files created by nightly workflow
temp_*.tex
