name: Compilation LaTeX - Cours complet
on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
jobs:
  load_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Load matrix from JSON
        id: set-matrix
        run: |
          set -e
          matrix=$(cat matrix.json | jq -c '{include: .files}')
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"
  compile:
    needs: [load_matrix]
    name: Compilation ${{ matrix.file }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix: ${{ fromJson(needs.load_matrix.outputs.matrix) }}

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Check encoding
        run: file -i ${{ matrix.file }}

      - name: Compilation ${{ matrix.file }}
        uses: xu-cheng/latex-action@v4
        with:
          args: >-
            -file-line-error -halt-on-error -interaction=nonstopmode
            -recorder
            -usepretex="\\newcommand{\\activeranimations}{}\\newcommand{\\activerbibliobeamer}{}"
          root_file: ${{ matrix.file }}.tex

      - name: Get PDF filename
        id: pdf_name
        run: echo "pdf_file=$(basename ${{ matrix.file }} .tex).pdf" >> $GITHUB_OUTPUT

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF-${{ matrix.file }}.pdf
          path: ${{ matrix.file }}.pdf

  upload:
    needs: [compile, load_matrix]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Download all PDFs
        uses: actions/download-artifact@v4.1.3
        with:
          pattern: PDF-*
          merge-multiple: true

      - name: Upload all PDFs
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: "*.pdf"
