name: Compilation LaTeX - Cours complet
on:
  push:
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
jobs:
  compile:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        tex_file:
          - CoursBIA_complet.tex
          - seance1_Introduction_ClassificationAeronefs.tex
          - seance2_StructureAvionMotorisation.tex
          - seance3_BaseAerodynamique.tex
          - seance4_CommandesDeVol.tex
          - seance5_Atmosphere.tex
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4

      - name: Check encoding
        run: file -i ${{ matrix.tex_file }}

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          args: >-
            -file-line-error -halt-on-error -interaction=nonstopmode
            -recorder
            -usepretex="\\newcommand{\\activeranimations}{}\\newcommand{\\activerbibliobeamer}{}"
          root_file: ${{ matrix.tex_file }}

      - name: Get PDF filename
        id: pdf_name
        run: echo "pdf_file=$(basename ${{ matrix.tex_file }} .tex).pdf" >> $GITHUB_OUTPUT

      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF-${{ steps.pdf_name.outputs.pdf_file }}
          path: ${{ steps.pdf_name.outputs.pdf_file }}

  upload:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: compile
    steps:
      - name: Download all PDFs
        uses: actions/download-artifact@v4.1.3
        with:
          pattern: PDF-*
          merge-multiple: true

      - name: Upload all PDFs
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: "*.pdf"
