name: Compilation LaTeX - Cours complet
on: [push]
jobs:
  Produce_LaTeX_document:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        
      - name: Check encoding
        run: file -i CoursBIA_complet.tex
        
        
      - name: Compile LaTeX artifacts
        uses: xu-cheng/latex-action@v3
        with:
          #latexmk_use_lualatex: true
          working_directory: 01-EtudeAeronefs/img/Cycle4Temps/
          work_in_root_file_dir: 01-EtudeAeronefs/img/Cycle4Temps/
          args: -file-line-error -halt-on-error -interaction=nonstopmode -recorder -usepretex="\\newcommand{\\activeranimations}{}"
          root_file: | 
            0-MoteurLegende_doc.tex
            0-MoteurLegendeFlechesSeulement_doc.tex
        
      - name: Compile LaTeX documents
        uses: xu-cheng/latex-action@v3
        with:
          #latexmk_use_lualatex: true
          args: -file-line-error -halt-on-error -interaction=nonstopmode -recorder -usepretex="\\newcommand{\\activeranimations}{}"
          root_file: | 
            CoursBIA_complet.tex
            seance1_Introduction_ClassificationAeronefs.tex
            seance2_StructureAvionMotorisation.tex
      
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path:  |
            CoursBIA_complet.pdf
            seance1_Introduction_ClassificationAeronefs.pdf
            seance2_StructureAvionMotorisation.pdf
            