name: Compilation LaTeX - Cours complet
on: [push]
jobs:
  Produce_LaTeX_document:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v4
        
      - name: Check encoding
        run: file -i CoursBIA_complet.tex
        
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          #latexmk_use_lualatex: true
          args: -file-line-error -halt-on-error -interaction=nonstopmode -recorder -usepretex="\\newcommand{\\activeranimations}{}"
          root_file: | 
            CoursBIA_complet.tex
            seances/seance1_Introduction_ClassificationAeronefs.tex
      
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: CoursBIA_complet.pdf
